.main-container {
    width: 256px;
    height: 63px;
    display: flex;
    padding-left: 25px;
    gap: 15px;
    border-radius: 30px;
    justify-content: row;
    align-items: center;
    display: flex;
    font-family: 'Nunito-noBold';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 10px;

    >img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    &:hover {
        p {
            color: #444df2;
        }

      background-color: #cccccc;
        cursor: pointer;
    }
}

.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-bottom: -36px;
  margin-left: -24px;
}

.online {
  background: #2ecc71;
  box-shadow: 0 0 8px #2ecc71;
}

.offline {
  background: #e74c3c;
}