$primary: #535AF1;
$secondary: #797EF3;
$background: #FFFFFF;
$hoverBg: #ECEEFE;
$line: #ADB0D9;
$text: #000000;


.dialog {
    width: 710px !important;
    max-width: 872px !important;
    border-radius: 30px !important;
    height: 279;
    display: flex;
    padding: 40px;
    gap: 20px;
    opacity: 1;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Nunito';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >h2 {
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;

    }

    >img {
        width: 24px;
        height: 24px;


        &:hover {
            cursor: pointer;
            filter: invert(43%) sepia(63%) saturate(7492%) hue-rotate(229deg) brightness(97%) contrast(96%);
            box-shadow: 0 0 12px rgba(255, 255, 255, 0.3), 0 0 4px rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            transform: scale(1.1);
        }
    }
}


.checkboxen {
    margin-left: -40px;
}


.button-end {
    display: flex;
    justify-content: end;
   &:disabled {
        background-color: #5a57f5;
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.3), 0 0 4px rgba(255, 255, 255, 0.2);
    }
}

label {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 10px;
    ;

    >input {
        width: 20px;
        height: 20px;
        opacity: 0;

        &:hover {
            cursor: pointer;
        }
    }

    >p {
        font-family: 'Nunito-noBold';
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;

    }
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50px;
    position: relative;

    &::after {
        background-color: #444df2;
    }
}


.checkmark:after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #444df2;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-55%, -25%) scale(0);

}

.input-name {
    width: 594px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

label>input:checked+.checkmark::after {
    transform: translate(-15%, -15%) scale(1);
}

.error p {
  color: red;
  font-size: 12px;
  margin: 2px 0;
  margin-left: 40px;
}

.avatar-small {
    height: 15px;
    width: 15px;
}


.input-wrap {
    

    &:focus-within {
        border-color: $primary;
        box-shadow: 0 0 0 3px rgba($primary, .12);
    }

    input {
        padding-top: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        width: auto;
        border: none;
        outline: none;
        background: transparent;
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 18px;
    }
}

.chip {
    display: inline-flex;
    align-items: center;
    border-radius: 35px;
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-left: 20px;
    gap: 15px;
    background: $hoverBg;
    color: $text;

    .avatar {
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }

    .name {
        font: 'Nunito';
        font-weight: 400;
        font-size: 18px;
    }

    .icon-box-remove {
        position: relative;
        display: inline-block;
        align-self: flex-end;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        img {
            background-size: cover;
            background-position: center;
        }

        .hover {
            position: absolute;
            inset: 0;
            opacity: 0;
        }

        &:hover {
            color: $primary;
            background: $hoverBg;
            cursor: pointer;

            .hover {
                opacity: 1;
            }

            .default {
                opacity: 0;
            }
        }
    }
}

.dropdown {
    position: absolute;
    top: 48px;
    width: 335px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid $line;
    padding-top: 20px;
    padding-right: 21px;
    padding-bottom: 20px;
    padding-left: 21px;
    gap: 15px;
    background: $background;
}

.option {
    width: auto;
    border-radius: 35px;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 20px;
    gap: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;   
    cursor: pointer;

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .meta {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .name {
        font: 700 16px 'Nunito';
        color: $text;
    }

    .status {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #D0D3E3;

        &.online {
            background: #39D353;
        }
    }

    &:hover {
        background: $hoverBg;
    }
}