.profile-main {
    width: 500px;
    height: 600px;
    gap: 38px;
    opacity: 1;
    padding-top: 45px;
    padding-right: 40px;
    padding-bottom: 45px;
    padding-left: 40px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Nunito';

}