@media (max-width: 550px) {
    .profile-main {
        height: 600px;
        padding-top: 45px;
        padding-right: 20px;
        padding-bottom: 45px;
        padding-left: 20px;
        gap: 38px;
        width: 100%;
        max-width: 500px;
        box-sizing: border-box;
    }



    .profile-img-div {
        display: flex;
        justify-content: center;
    }

    .profile-header {
        >img {
            margin-right: 30px;
        }
    }

    >img {
        margin-right: 30px;
    }




    .profile-name {
        h2 {
            font-size: 25px;
        }
    }
}

@media (max-width: 385px) {

    .profile-header {

        >img {
            margin-right: 0px;
        }
    }


}