.header-logo {
    position: absolute;
    top: 32px;
    left: 32px;
}

.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.login-card {
  background: white;
  border-radius: 20px;
  padding: 48px;
  text-align: center;
  width: 360px;
  text-align: left;
}

.header-text {
    color: #405cff;
    font-size: 32px;
    margin-bottom: 24px;
    margin-top: 32px;
}

p {
    margin: 0;
}

.subheader {
    margin-bottom: 12px;
    font-size: 18px;
    margin-top: 8px;
    color: #405cff;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:hover {
         color: #000000;
    }
}

.back-arrow {
  position: absolute;
  top: 32px;
  left: 42px;

  font-size: 32px;
  color: #4d96f6;
  cursor: pointer;

  transition: .2s ease;
  z-index: 2000;
}

.back-arrow:hover {
  color: #084ba3;
  transform: translateX(-4px);
}

@media (max-width: 500px) {
  .login-card {
    width: 280px;
    padding: 12px;
    margin-top: 32px;
  }

  .login-container {
   margin-top: 24px;
    margin-bottom: 24px;
    position: static;
    transform: none;
}

  .header-text {
    margin-top: 0;
  }

  p {
    font-size: 14px;
  }

  .back-arrow {
   position: static;
    font-size: 28px;
  }

  .header-logo {
    position: static;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
}
}