<div #scrollArea class="scroll-area">
    <div class="thread-root">
        <div class="avatar" [class.you]="root.isYou"
            [style.background-image]="root.avatar ? 'url(' + root.avatar + ')' : null">
            <span *ngIf="!root.avatar"></span>
        </div>

        <div class="message-body" [class.you]="root.isYou">
            <div class="meta" [class.you]="root.isYou">
                <strong>{{ root.author }}</strong>
                <time>{{ root.time }}</time>
            </div>

            <div class="text bubble" [class.you]="root.isYou">
                {{ root.text }}
            </div>

            <div class="reactions" [class.you]="root.isYou" *ngIf="root.reactions?.length">
                <div class="emoji-reactions">
                    <div class="reaction" *ngFor="let x of root.reactions" [class.active]="x.youReacted"
                        (mouseenter)="showReactionPanel(root, x, $event)" (mouseleave)="scheduleReactionPanelHide()">
                        <img class="emoji" [src]="x.emoji" alt="">
                        <span class="count-emoji">{{ x.count }}</span>
                    </div>

                    <span class="icon-box">
                        <img class="default" src="icons/add_reaction.png" alt="">
                        <img class="hover" src="icons/add_reaction_purple.png" alt="">
                    </span>
                </div>
            </div>
        </div>

        <div class="reaction-panel" *ngIf="reactionPanel.show && reactionPanel.messageId === root.id"
            [style.left.px]="reactionPanel.x" [style.top.px]="reactionPanel.y" (mouseenter)="cancelReactionPanelHide()"
            (mouseleave)="scheduleReactionPanelHide()">

            <div class="panel-content">
                <img *ngIf="reactionPanel.emoji" class="emoji" [src]="reactionPanel.emoji" alt="">
                <div class="panel-text">
                    <div class="title">{{ reactionPanel.title }}</div>
                    <div class="subtitle">{{ reactionPanel.subtitle }}</div>
                </div>
            </div>
        </div>

        <div class="reaction-bar" [class.you]="root.isYou">
            <span class="icon-box">
                <img class="default" src="icons/add_reaction.png" alt="">
                <img class="hover" src="icons/add_reaction_purple.png" alt="">
            </span>
        </div>
    </div>

    <div class="replies-separator">
        <span>2 Antworten</span>
    </div>

    <div class="replies">
        <ng-container *ngFor="let r of replies">
            <article class="reply" [class.you]="r.isYou" (mouseenter)="cancelEditMessagePanelHide(r)"
                (mouseleave)="scheduleEditMessagePanelHide(r)">
                <div class="avatar" [class.you]="r.isYou"
                    [style.background-image]="r.avatar ? 'url(' + r.avatar + ')' : null">
                    <span *ngIf="!r.avatar"></span>
                </div>

                <div class="message-body" [class.you]="r.isYou">
                    <div class="meta" [class.you]="r.isYou">
                        <strong>{{ r.author }}</strong>
                        <time>{{ r.time }}</time>
                    </div>

                    <div class="text bubble" [class.you]="r.isYou">
                        {{ r.text }}
                    </div>

                    <div class="reactions" [class.you]="r.isYou" *ngIf="r.reactions?.length">
                        <div class="emoji-reactions">
                            <div class="reaction" *ngFor="let x of r.reactions" [class.active]="x.youReacted"
                                (mouseenter)="showReactionPanel(r, x, $event)"
                                (mouseleave)="scheduleReactionPanelHide()">
                                <img class="emoji" src="{{ x.emoji }}" alt="">
                                <span class="count-emoji">{{ x.count }}</span>
                            </div>

                            <span class="icon-box">
                                <img class="default" src="icons/add_reaction.png" alt="">
                                <img class="hover" src="icons/add_reaction_purple.png" alt="">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="reaction-panel" *ngIf="reactionPanel.show && reactionPanel.messageId === r.id"
                    [style.left.px]="reactionPanel.x" [style.top.px]="reactionPanel.y"
                    (mouseenter)="cancelReactionPanelHide()" (mouseleave)="scheduleReactionPanelHide()">

                    <div class="panel-content">
                        <img *ngIf="reactionPanel.emoji" class="emoji" [src]="reactionPanel.emoji" alt="">
                        <div class="panel-text">
                            <div class="title">{{ reactionPanel.title }}</div>
                            <div class="subtitle">{{ reactionPanel.subtitle }}</div>
                        </div>
                    </div>
                </div>

                <div class="reaction-bar" [class.you]="r.isYou">
                    <span class="icon-box">
                        <img class="default" src="icons/add_reaction.png" alt="">
                        <img class="hover" src="icons/add_reaction_purple.png" alt="">
                    </span>

                    <span class="icon-box d-none" [class.you]="r.isYou" (click)="toggleEditMessagePanel(r, $event)">
                        <img class="default" src="icons/more_vert.png" alt="">
                        <img class="hover" src="icons/more_vert_purple.png" alt="">
                    </span>
                </div>

                <div class="edit-message-panel" [class.you]="r.isYou" *ngIf="r.isYou && editForId === r.id"
                    (click)="editMessage($event)" (mouseenter)="cancelEditMessagePanelHide(r)"
                    (mouseleave)="scheduleEditMessagePanelHide(r)">
                    <span>Nachricht bearbeiten</span>
                </div>
            </article>
        </ng-container>
    </div>
</div>

<footer class="composer">
    <div class="composer-input">
        <textarea [(ngModel)]="draft" placeholder="Antworten..."></textarea>

        <div class="composer-actions">
            <div class="d-flex">
                <span #btn1 class="icon-box" (click)="openAddEmojis(btn1)">
                    <img class="default" src="icons/emoji_grey.png" alt="">
                    <img class="hover1" src="icons/emoji_black.png" alt="">
                    <img class="hover2" src="icons/emoji_purple.png" alt="">
                </span>
                <span #btn2 class="icon-box" (click)="openAtMembers(btn2)">
                    <img class="default" src="icons/at_grey.png" alt="">
                    <img class="hover1" src="icons/at_black.png" alt="">
                    <img class="hover2" src="icons/at_purple.png" alt="">
                </span>
            </div>

            <div>
                <span class="icon-box" (click)="sendMessage()">
                    <img class="default" src="icons/Send icon.png" alt="">
                    <img class="hover1" src="icons/Send icon_light.png" alt="">
                </span>
            </div>
        </div>
    </div>
</footer>