$primary: #535AF1;
$hoverBg: #ECEEFE;
$secondary: #797EF3;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
    box-shadow: 0 2px 10px 0 rgba(#000000, 0.08);
    border-radius: 30px 30px 0 0;
}

.thread-title {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    border-radius: 100px;
    font-family: 'Nunito';

    h2 {
        margin: 0;
        font-weight: 700;
        font-size: 24px;
    }

    h3 {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        color: $secondary;
    }
}

.icon-box {
    margin-right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;

    img {
        width: 24px;
        height: 24px;
        display: block;
        grid-area: 1 / 1;
    }

    .hover {
        opacity: 0;
    }

    &:hover {
        color: $primary;
        background: $hoverBg;
        cursor: pointer;

        .hover {
            opacity: 1;
        }

        .default {
            opacity: 0;
        }
    }
}