* {
    background-color: #FFFFFF !important;
}

:host {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

app-channel-messages-header {
    z-index: 1;
}

section {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 30px;
    top: 157px;
    left: 406px;
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 0;
    overflow: hidden;
    margin-bottom: 12px;
}

// Mobile Styles
@media (max-width: 750px) {
    :host {
        position: relative;
    }

    section {
        border-radius: 0;
        margin-bottom: 0;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100vw;
    }
}