
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/static/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

body{
    margin: 0;
    background-color: #eceefe;
;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
