.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.login-card {
  background: white;
  border-radius: 20px;
  padding: 48px;
  text-align: center;
  width: 450px;
}

.title {
  color: #405cff;
  font-size: 38px;
  margin-bottom: 8px;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 0;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: left;
}

.material-symbols-outlined {
  font-size: 20px;
  margin-right: 12px;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 16px;
}

button {
  width: 120px;
}

.back-arrow {
  position: absolute;
  top: 56px;
  left: 42px;

  font-size: 32px;
  color: #4d96f6;
  cursor: pointer;

  transition: 0.2s ease;
  z-index: 2000;
}

.back-arrow:hover {
  color: #084ba3;
  transform: translateX(-4px);
}

.disabled-btn {
  background-color: #8a8a8a;
  cursor: not-allowed;
}

.avatar-image {
  height: 200px;
  border-radius: 100px;
}

.avatar-selection {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 48px;
}

.avatar-option {
  height: 60px;
  border-radius: 100px;
  padding: 4px;
  cursor: pointer;

  &.selected {
    padding: 4px;
    background-color: rgb(210, 210, 210);
  }

  &:hover {
    padding: 4px;
    background-color: rgb(210, 210, 210);
  }
}

@media (max-width: 500px) {
  .login-container {
    margin-top: 24px;
    margin-bottom: 24px;
    position: static;
    transform: none;
  }

  .login-card {
    width: 280px !important;
    height: 500px;
    padding: 12px;
  }

  .back-arrow {
   position: static;
   align-items: flex-start;
   display: flex;
   margin: 12px 0 0 12px;
  }

     h1 {
    font-size: 28px !important;
    margin-bottom: 0!important;
  }

    .subtitle {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom:12px;
    width: 260px;
  }

  .avatar-selection {
    gap: 4px;
  margin: 24px 0;
  }

  .avatar-image {
    height: 150px;
  }

  .avatar-option {
    height: 35px;
  }
}
