$hoverBg: #ECEEFE;
$line: #ADB0D9;
$textYou: #FFFFFF;

.add-emoji-dialog {
    width: auto !important;
    height: auto !important;
    border: 1px solid $line;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.icon-box {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: $textYou;

    .hover {
        position: absolute;
        opacity: 0;
    }

    &:hover {
        background-color: $hoverBg;

        .hover {
            opacity: 1;
        }

        .default {
            opacity: 0;
        }
    }
}